/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  font-family: 'Roboto', sans-serif;
  background-image: url(assets/burger-friends.jpg);
  background-size:cover;
}

header {
  border: medium solid teal;
  background-color: teal;
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  margin: 50px;
  margin-left: 80px;
  margin-right: 80px;
  background-size: contain;
}

form {
  background-color: rgba(225, 225, 225, .9);
  height: 450px;
  width: 484px;
}

section {
  background-color: rgba(225, 225, 225, .9);
}

.title {
  margin-left: 20px;
  margin-top: 25px;
}

.what-are-you-looking-for {
  margin-top: 50px;
  margin-left: 30px;
}

input {
  margin-left: 30px;
  margin-bottom: 30px;
}

.cookpot {
  width: 200px;
  height: 200px;
  margin-left: 140px;
  margin-top: 140px;
  margin-bottom: 140px;
}

.you-should-make {
  background-color: rgba(225, 225, 225, .9);
  height: 450px;
  width: 484px;
}

.message {
  text-align: center;
  font-size: 14pt;
  font-style: italic;
  margin-top: 150px;
}

.random-dish {
  text-align: center;
  font-size: 30pt;
  margin-top: -30px;
}

/* buttons */
.add-a-recipe-button {
  float: right;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: hidden;
  padding: 10px;
  margin-right: 15px;
  margin-top: -43px
}
.hidden {
  display: none;
}

.clear {
  text-transform: uppercase;
  color: white;
  background-color:#95a5a6;
  border-style: hidden;
  border-radius: 5px;
  height: 35px;
  width: 112px;
  grid-column: 2;
  margin-left:60%;
  margin-top:-30%;
}

.lets-cook-button {
  font-size: 12pt;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: hidden;
  background-color: #0fb9b1;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
}
